body {
    margin: 0;
}

.parent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(196, 20, 20);
}

.container {
    border: 1px solid red;
    width: 70%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tempDisplay {
    font-size: 50px;
}

.InputContainer {
    width: 500px;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Inputs {
    padding: 3%;
    min-width: 150px;
    font-size: large;
    white-space: nowrap;
}

